<style>
   ::ng-deep .cdk-global-scrollblock {
      overflow-y: hidden !important;
   }

   ::ng-deep .mat-mdc-dialog-surface {
      background-color: var(--body-background);
   }

   .carrier-charges-popup {
      /* width: 100vw;
  height: 100vh; */
      display: flex;
      flex-direction: column;
   }

   .carrier-charges-header {
      display: flex;
      justify-content: flex-end;
      padding: 16px 5px 18px 5px;
   }

   .card,
   .card .card-header {
      background: var(--card-dashboard);
   }

   .popheader_text {
      color: var(--popup_title) !important;
   }
</style>

<div id="main" class="carrier-charges-popup">
   <div class="row">
      <div class="col-12 mt-2 mb-2 text-end "><a class="close_btn close_btn_pop " (click)="closeDialog()"><span>CLICK
               HERE TO
               CLOSE SCREEN </span> <img src="assets/images/svg/close_1.svg">
         </a>
      </div>
      <div class="col-12 mt-2 mb-2 text-center">
         <h2 class="header popheader_text mt-1" style="font-size:25px;"> CARRIER CHARGES For {{ yearData_title }}</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-xl-6 col-md-6 col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center  ">
               <div class="row">
                  <div class="col-md-6 col-12">
                     <h4 class="card-title mb-0 flex-grow-1">Data Displayed only for Freight Charge
                        {{yearData_title?yearData_title : ""}}
                        {{monthData_title?monthData_title : ""}}</h4>
                  </div>
                  <div class="col-md-6 col-12">
                     <p class="right no-margin grey-text lighten-3 mediam-small  pr-1 text-end pe-3">
                        <a class="excelIcon excel_text" (click)="repostExcelDownload('EntireZoneServiceDisplayExcel')">
                           <img src="assets/images/svg/excel_download_icon.svg"> Excel</a>
                        <br> (Download Top 10 Freight
                        Charges)
                     </p>
                  </div>
               </div>
            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">

                  <div id="pie_chart" style="width: 100%; height: 480px"></div>
               </div>
               <div class="w-100 mb-1 pe-3  text-end">
                  <p class="btm_para"> Data Displayed only for Freight Charge</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center  ">
               <div class="row">
                  <div class="col-md-6 col-12">
                     <h4 class="card-title mb-0 flex-grow-1"> Data Displayed only for Accessorial Charges
                        {{yearData_title?yearData_title : ""}}
                        {{monthData_title?monthData_title : ""}}</h4>
                  </div>
                  <div class="col-md-6 col-12">
                     <p class="right no-margin grey-text lighten-3 mediam-small  pr-1 text-end pe-3">
                        <a class="excelIcon excel_text" (click)="repostExcelDownload('ZoneServiceDisplayExcel')"> <img
                              src="assets/images/svg/excel_download_icon.svg"> Excel</a>
                        <br> (Download Top 10 Acc Charges)
                     </p>
                  </div>
               </div>

            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">

                  <div id="pie_Access" style="width: 100%; height: 480px"></div>
               </div>
               <div class="w-100  mb-1 pe-3  text-end">
                  <p class="btm_para">Data Displayed only for Accessorial Charges</p>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>