
<div class="px-0 pt-0 py-0">
    <div class="card m-0 popup-design shadow-none card-height-100">
        <div class="card-header border-0 align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1 title-sty">User Access for 4 over </h4>
            <button matSuffix type="button"
                class="bit_eye_icon btn btn-link p-0 text-decoration-none text-muted material-shadow-none"
                (click)="close()">
                <!-- <img src="assets/images/close_icon.svg" class="close_icon" alt="close icon" /> -->
             <div class="close_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.301791 1.75541C-0.0997985 1.35375 -0.0997366 0.702715 0.301914 0.301155C0.703565 -0.100404 1.3547 -0.100403 1.75628 0.301259L7.50013 6.04566L13.2444 0.301774C13.646 -0.0997858 14.2972 -0.0997858 14.6988 0.301774C15.1004 0.703333 15.1004 1.35447 14.6988 1.75602L8.95439 7.50002L14.6984 13.2446C15.0999 13.6462 15.0999 14.2973 14.6982 14.6989C14.2966 15.1004 13.6454 15.1004 13.2438 14.6987L7.49992 8.95427L1.75558 14.6983C1.35397 15.0998 0.702825 15.0998 0.301215 14.6983C-0.100405 14.2967 -0.100405 13.6456 0.301215 13.244L6.04577 7.49992L0.301791 1.75541Z" fill="black"/>
</svg>
        </div>
            </button>
        </div>

        <div class="card-body pt-2 pb-4">
            <form [formGroup]="setUpUPSFormGroup" class="edit-reportmenu-form">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h6><strong>Report Access:</strong></h6>
                        <div class="row">
                            <div class="col-12" *ngFor="let datagrid_iditem of dataGridReportList">
                                <mat-checkbox class="custom_checkbox" 
                                    [(ngModel)]="datagrid_iditem.reportAvailable"
                                    [checked]="datagrid_iditem.reportAvailable"
                                    [ngModelOptions]="{standalone: true}">
                                    {{ datagrid_iditem.reportName }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <h6><strong>Menu Access:</strong></h6>
                        <div class="row">
                            <div class="col-12">
                                <mat-checkbox class="custom_checkbox" formControlName="contractReview"
                                    (change)="updateContractReviewStatus()">
                                    Contract Analysis Review
                                </mat-checkbox>
                            </div>
                            <div class="col-12">
                                <mat-checkbox class="custom_checkbox" formControlName="contractSavingsPopup"
                                    (change)="updateContractSavingsPopup()">
                                    Carrier Agreement Savings Pop-up
                                </mat-checkbox>
                            </div>
                            <div class="col-12">
                                <mat-checkbox class="custom_checkbox" formControlName="contractSummary"
                                    (change)="updateContractSummary()">
                                    Contract Summary
                                </mat-checkbox>
                            </div>
                            <div class="col-12">
                                <mat-checkbox class="custom_checkbox" formControlName="griAnalysis"
                                    (change)="updateGRIAnalysis()">
                                    GRI Analysis
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-4 text-center">
                        <button mat-raised-button color="primary" class="btn me-3 btn_submit waves-effect waves-light "
                            type="submit" (click)="btn_upt_clickHandler()">
                            Update
                        </button>
                        <button mat-raised-button color="primary" class="btn me-3 btn_clear waves-effect waves-light "
                            type="submit" (click)="close()">
                            Close
                        </button>
                    </div>
                </div>
            </form>
        </div>        
    </div>
</div>
