<!-- BEGIN: Page Main-->
<!-- <div class="loading_img"  [ngStyle]="{'display':isLoading == true ? 'block' : 'none' }"><img src="app-assets/images/loader.gif?{{randomNumber}}"><p style="display:none;">Loading...</p></div> -->
<!-- UPS code starts -->
 
@if(clientType=='UPS'){
<div id="main" (click)="toggleCompareAnalysisPopup('close')">

   <div class="row">
      <div class="content-wrapper-before"></div>
      <div class="breadcrumbs-dark pb-0 pt-2" id="breadcrumbs-wrapper">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 s12 m3 l3">
                  <div class="col s12 m12 l12  mb-0  pl-0 pr-0">
                     <h3 class="mt-0 mb-0 p-2">
                        <!-- <mat-icon>schedule</mat-icon>  -->
                        Shipment Detail Search
                     </h3>
                  </div>
               </div>
               <div class="col-sm-12 s12 m9 l9 pt-2" style="margin-top: 0px;">
                  <form [formGroup]="searchForm" class="row">
                     <div class="col-sm-3 col-4 m5 s12 ">
                        <mat-label>Criteria:</mat-label>
                        <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                           <mat-select class="label-trackin" formControlName="chargeSource" style="margin-top: 0px"
                              required>
                              <mat-option value="Tracking Number">Tracking Number</mat-option>
                              <mat-option value="Lead Shipment Number">Lead Shipment Number</mat-option>
                              <mat-option value="Zip Code">Receiver Zip Code</mat-option>
                              <mat-option value="Shipment Reference">Shipment Reference</mat-option>
                              <mat-option value="Package Reference">Package Reference</mat-option>
                              <mat-option value="Sender Name">Sender Name</mat-option>
                              <mat-option value="Sender Company Name">Sender Company Name</mat-option>
                              <mat-option value="Receiver Name">Receiver Name</mat-option>
                              <mat-option value="Receiver Company Name">Receiver Company Name</mat-option>
                              <mat-option value="Receiver Address">Receiver Address</mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>
                     <div class="col-md-3 col-4 m5 s12">
                        <mat-label class="mt-3 mb-1">Search Criteria</mat-label>
                        <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                           <input matInput type="text" id="value" name="value" formControlName="trackingNumber" />
                        </mat-form-field>
                     </div>
                     <div class="col-sm-3 s12 m4 l4">
                        <!-- <div class="row"> -->
                        <div class="input-field col m6 s6 plr-8">
                           <mat-label for="dob">From Invoice Date</mat-label>
                           <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                              <input matInput [matDatepicker]="picker" [max]="currentDate" formControlName="fromdate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                        </div>
                     </div>
                     <div class="col-sm-3 s12 m4 l4">
                        <div class="input-field col m6 s6 plr-8">
                           <mat-label for="dob">To Invoice Date</mat-label>
                           <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                              <input matInput [matDatepicker]="picker1" [min]="searchForm.get('fromdate')?.value"
                                 [max]="currentDate" formControlName="todate">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                           </mat-form-field>
                        </div>

                        <!-- </div> -->
                     </div>
                     <div class="col-sm-12 s12 m5 pt-5 align-items-center text-center gap-2">
                        <button type="button" mat-raised-button class="btn me-3 btn_submit waves-effect waves-light"
                           color="primary" (click)="searchUser()">
                           Search
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="min-height: 500px;">

         <div class="col s12">
            <div class="container">
               <div id="sales-chart">
                  @if(showTable){
                  <div class="row">
                     <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div class="ml-2">
                           @if(showCount && tableCount > 1){
                           <h6 class="breadcrumbs-title mt-0 mb-0" style="width: 100%;">
                              Total Records: <span>{{tableCount}}</span>
                           </h6>
                           }
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px;">
                           <a (click)="image_clickHandler()" class="interpo_atwoDownload">
                              Download all Records
                           </a>
                           <a (click)="image_clickHandler()" class="interpo_atwo">
                              <img src="assets/images/icons/pdf.png">
                           </a>
                        </div>
                     </div>

                     <div class="col s10 m10 l12 pt-2">
                        <div class="col s12 no-padding">
                           <div class="card animate fadeUp">
                              <div class="card-content">
                                 <div class="table-responsive trcknCls">
                                    <table class="table table-bordered table-striped">
                                       <thead>
                                          <tr>
                                             <th>Tracking Number</th>
                                             <th>Account Number</th>
                                             <th>Invoice Date</th>
                                             <th>Transaction Date</th>
                                             <th>Invoice Number</th>
                                             <th>Net Charge</th>
                                             <th>More Detail</th>
                                             <th>PDF</th>
                                             <th>EXCEL</th>

                                          </tr>
                                       </thead>
                                       <tbody>
                                          @for (fetchTrackNo of commoncollAC; track $index) {
                                          <tr>
                                             <td>{{fetchTrackNo.trackingNumber}}</td>
                                             <td>{{fetchTrackNo.accountNumber}}</td>
                                             <td>{{fetchTrackNo.invoiceDate | date:'MM/dd/yyyy'}}</td>
                                             <td>{{fetchTrackNo.transactionDate}}</td>
                                             <td>{{fetchTrackNo.invoiceNumber}}</td>
                                             <td>{{fetchTrackNo.total}}</td>

                                             <td><button class="btn btn-primary"
                                                   (click)="getTrackingDetail(fetchTrackNo)">More Detail</button></td>
                                             <td>
                                                <span><a (click)="generatetrackingpdf(fetchTrackNo.trackingNumber)"><img
                                                         src="app-assets\images\icon\pdf.png"
                                                         style="height:26px"></a></span>
                                             </td>
                                             <td><span><a
                                                      (click)="generatetrackingexcel(fetchTrackNo.trackingNumber)"><img
                                                         src="app-assets\images\icon\excel.png"
                                                         style="height:26px"></a></span></td>
                                          </tr>
                                          }
                                          @if(dataNoneTxt){
                                          <tr>
                                             <td colspan="11" style="text-align: center !important;">No Data</td>
                                          </tr>
                                          }
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  }
               </div>
            </div>
         </div>
      </div>
   </div>


   <div id="theme-cutomizer-out" class="theme-cutomizer sidenav row">
      <div class="col s12">
         <a class="sidenav-close" href="javascript:void(0);!"><i class="material-icons">close</i></a>
         <h5 class="theme-cutomizer-title">Theme Customizer</h5>
         <p class="medium-small">Customize & Preview in Real Time</p>
         <div class="menu-options">
            <h6 class="mt-6">Menu Options</h6>
            <hr class="customize-devider" />
            <div class="menu-options-form row">
               <div class="input-field col s12 menu-color mb-0">
                  <p class="mt-0">Menu Color</p>
                  <div class="gradient-color center-align">
                     <span class="menu-color-option gradient-45deg-indigo-blue"
                        data-color="gradient-45deg-indigo-blue"></span>
                     <span class="menu-color-option gradient-45deg-purple-deep-orange"
                        data-color="gradient-45deg-purple-deep-orange"></span>
                     <span class="menu-color-option gradient-45deg-light-blue-cyan"
                        data-color="gradient-45deg-light-blue-cyan"></span>
                     <span class="menu-color-option gradient-45deg-purple-amber"
                        data-color="gradient-45deg-purple-amber"></span>
                     <span class="menu-color-option gradient-45deg-purple-deep-purple"
                        data-color="gradient-45deg-purple-deep-purple"></span>
                     <span class="menu-color-option gradient-45deg-deep-orange-orange"
                        data-color="gradient-45deg-deep-orange-orange"></span>
                     <span class="menu-color-option gradient-45deg-green-teal"
                        data-color="gradient-45deg-green-teal"></span>
                     <span class="menu-color-option gradient-45deg-indigo-light-blue"
                        data-color="gradient-45deg-indigo-light-blue"></span>
                     <span class="menu-color-option gradient-45deg-red-pink"
                        data-color="gradient-45deg-red-pink"></span>
                  </div>
                  <div class="solid-color center-align">
                     <span class="menu-color-option red" data-color="red"></span>
                     <span class="menu-color-option purple" data-color="purple"></span>
                     <span class="menu-color-option pink" data-color="pink"></span>
                     <span class="menu-color-option deep-purple" data-color="deep-purple"></span>
                     <span class="menu-color-option cyan" data-color="cyan"></span>
                     <span class="menu-color-option teal" data-color="teal"></span>
                     <span class="menu-color-option light-blue" data-color="light-blue"></span>
                     <span class="menu-color-option amber darken-3" data-color="amber darken-3"></span>
                     <span class="menu-color-option brown darken-2" data-color="brown darken-2"></span>
                  </div>
               </div>
               <div class="input-field col s12 menu-bg-color mb-0">
                  <p class="mt-0">Menu Background Color</p>
                  <div class="gradient-color center-align">
                     <span class="menu-bg-color-option gradient-45deg-indigo-blue"
                        data-color="gradient-45deg-indigo-blue"></span>
                     <span class="menu-bg-color-option gradient-45deg-purple-deep-orange"
                        data-color="gradient-45deg-purple-deep-orange"></span>
                     <span class="menu-bg-color-option gradient-45deg-light-blue-cyan"
                        data-color="gradient-45deg-light-blue-cyan"></span>
                     <span class="menu-bg-color-option gradient-45deg-purple-amber"
                        data-color="gradient-45deg-purple-amber"></span>
                     <span class="menu-bg-color-option gradient-45deg-purple-deep-purple"
                        data-color="gradient-45deg-purple-deep-purple"></span>
                     <span class="menu-bg-color-option gradient-45deg-deep-orange-orange"
                        data-color="gradient-45deg-deep-orange-orange"></span>
                     <span class="menu-bg-color-option gradient-45deg-green-teal"
                        data-color="gradient-45deg-green-teal"></span>
                     <span class="menu-bg-color-option gradient-45deg-indigo-light-blue"
                        data-color="gradient-45deg-indigo-light-blue"></span>
                     <span class="menu-bg-color-option gradient-45deg-red-pink"
                        data-color="gradient-45deg-red-pink"></span>
                  </div>
                  <div class="solid-color center-align">
                     <span class="menu-bg-color-option red" data-color="red"></span>
                     <span class="menu-bg-color-option purple" data-color="purple"></span>
                     <span class="menu-bg-color-option pink" data-color="pink"></span>
                     <span class="menu-bg-color-option deep-purple" data-color="deep-purple"></span>
                     <span class="menu-bg-color-option cyan" data-color="cyan"></span>
                     <span class="menu-bg-color-option teal" data-color="teal"></span>
                     <span class="menu-bg-color-option light-blue" data-color="light-blue"></span>
                     <span class="menu-bg-color-option amber darken-3" data-color="amber darken-3"></span>
                     <span class="menu-bg-color-option brown darken-2" data-color="brown darken-2"></span>
                  </div>
               </div>
               <div class="input-field col s12">
                  <div class="switch">
                     Menu Dark
                     <label class="float-right"><input class="menu-dark-checkbox" type="checkbox" /> <span
                           class="lever ml-0"></span></label>
                  </div>
               </div>
               <div class="input-field col s12">
                  <div class="switch">
                     Menu Collapsed
                     <label class="float-right"><input class="menu-collapsed-checkbox" type="checkbox" /> <span
                           class="lever ml-0"></span></label>
                  </div>
               </div>
               <div class="input-field col s12">
                  <div class="switch">
                     <p class="mt-0">Menu Selection</p>
                     <label>
                        <input class="menu-selection-radio with-gap" value="sidenav-active-square" name="menu-selection"
                           type="radio" />
                        <span>Square</span>
                     </label>
                     <label>
                        <input class="menu-selection-radio with-gap" value="sidenav-active-rounded"
                           name="menu-selection" type="radio" />
                        <span>Rounded</span>
                     </label>
                     <label>
                        <input class="menu-selection-radio with-gap" value="" name="menu-selection" type="radio" />
                        <span>Normal</span>
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <h6 class="mt-6">Navbar Options</h6>
         <hr class="customize-devider" />
         <div class="navbar-options row">
            <div class="input-field col s12 navbar-color mb-0">
               <p class="mt-0">Navbar Color</p>
               <div class="gradient-color center-align">
                  <span class="navbar-color-option gradient-45deg-indigo-blue"
                     data-color="gradient-45deg-indigo-blue"></span>
                  <span class="navbar-color-option gradient-45deg-purple-deep-orange"
                     data-color="gradient-45deg-purple-deep-orange"></span>
                  <span class="navbar-color-option gradient-45deg-light-blue-cyan"
                     data-color="gradient-45deg-light-blue-cyan"></span>
                  <span class="navbar-color-option gradient-45deg-purple-amber"
                     data-color="gradient-45deg-purple-amber"></span>
                  <span class="navbar-color-option gradient-45deg-purple-deep-purple"
                     data-color="gradient-45deg-purple-deep-purple"></span>
                  <span class="navbar-color-option gradient-45deg-deep-orange-orange"
                     data-color="gradient-45deg-deep-orange-orange"></span>
                  <span class="navbar-color-option gradient-45deg-green-teal"
                     data-color="gradient-45deg-green-teal"></span>
                  <span class="navbar-color-option gradient-45deg-indigo-light-blue"
                     data-color="gradient-45deg-indigo-light-blue"></span>
                  <span class="navbar-color-option gradient-45deg-red-pink" data-color="gradient-45deg-red-pink"></span>
               </div>
               <div class="solid-color center-align">
                  <span class="navbar-color-option red" data-color="red"></span>
                  <span class="navbar-color-option purple" data-color="purple"></span>
                  <span class="navbar-color-option pink" data-color="pink"></span>
                  <span class="navbar-color-option deep-purple" data-color="deep-purple"></span>
                  <span class="navbar-color-option cyan" data-color="cyan"></span>
                  <span class="navbar-color-option teal" data-color="teal"></span>
                  <span class="navbar-color-option light-blue" data-color="light-blue"></span>
                  <span class="navbar-color-option amber darken-3" data-color="amber darken-3"></span>
                  <span class="navbar-color-option brown darken-2" data-color="brown darken-2"></span>
               </div>
            </div>
            <div class="input-field col s12">
               <div class="switch">
                  Navbar Dark
                  <label class="float-right"><input class="navbar-dark-checkbox" type="checkbox" /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
            <div class="input-field col s12">
               <div class="switch">
                  Navbar Fixed
                  <label class="float-right"><input class="navbar-fixed-checkbox" type="checkbox" checked /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
         </div>
         <h6 class="mt-6">Footer Options</h6>
         <hr class="customize-devider" />
         <div class="navbar-options row">
            <div class="input-field col s12">
               <div class="switch">
                  Footer Dark
                  <label class="float-right"><input class="footer-dark-checkbox" type="checkbox" /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
            <div class="input-field col s12">
               <div class="switch">
                  Footer Fixed
                  <label class="float-right"><input class="footer-fixed-checkbox" type="checkbox" /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
}
<!-- UPS code ends -->

<!-- fedex code starts -->
@if(clientType=='FedEx'){
<div id="main" (click)="toggleCompareAnalysisPopup('close')">
   <div class="row">
      <div class="content-wrapper-before gradient-45deg-indigo-light-blue"></div>
      <div class="breadcrumbs-dark pb-0 pt-2" id="breadcrumbs-wrapper">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 s12 m3 l3">
                  <div class="col s12 m12 l12  mb-0  pl-0 pr-0">
                     <h3 class="mt-0 mb-0 p-2">
                        <!-- <mat-icon>schedule</mat-icon>  -->
                        Shipment Detail Search
                     </h3>
                  </div>
               </div>
               <div class="col-sm-12 s12 m9 l9 pt-2" style="margin-top: 0px;">
                  <form [formGroup]="fedexFormGroup" class="row">
                     <div class="col-sm-3 col-4 m5 s12 ">
                        <mat-label>Criteria:</mat-label>
                        <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                           <mat-select class="label-trackin" formControlName="chargeSource" style="margin-top: 0px"
                              required>
                              <mat-option value="Tracking Number">Tracking Number</mat-option>
                              <mat-option value="Lead Shipment Number">Lead Shipment Number</mat-option>
                              <mat-option value="Zip Code">Receiver Zip Code</mat-option>
                              <mat-option value="Original Reference">Original Reference</mat-option>
                              <mat-option value="Package Reference">Package Reference</mat-option>
                              <mat-option value="Sender Name">Sender Name</mat-option>
                              <mat-option value="Sender Company Name">Sender Company Name</mat-option>
                              <mat-option value="Receiver Name">Receiver Name</mat-option>
                              <mat-option value="Receiver Company Name">Receiver Company Name</mat-option>
                              <mat-option value="Receiver Address">Receiver Address</mat-option>
                           </mat-select>
                        </mat-form-field>
                     </div>
                     <div class="col-md-3 col-4 m5 s12">
                        <mat-label class="mt-3 mb-1">Search Criteria</mat-label>
                        <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                           <input matInput type="text" id="value" name="value" formControlName="trackingNumber" />
                        </mat-form-field>
                     </div>
                     <div class="col-sm-3 s12 m4 l4">
                        <!-- <div class="row"> -->
                        <div class="input-field col m6 s6 plr-8">
                           <mat-label for="dob">From Invoice Date</mat-label>
                           <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                              <input matInput [matDatepicker]="picker" [max]="currentDate" formControlName="fromdate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                        </div>
                     </div>
                     <div class="col-sm-3 s12 m4 l4">
                        <div class="input-field col m6 s6 plr-8">
                           <mat-label for="dob">To Invoice Date</mat-label>
                           <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                              <input matInput [matDatepicker]="picker1" [min]="fedexFormGroup.get('fromdate')?.value"
                                 [max]="currentDate" formControlName="todate">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                           </mat-form-field>
                        </div>

                        <!-- </div> -->
                     </div>
                     <div class="col-sm-12 s12 m5 pt-5 align-items-center text-center gap-2">
                        <button type="button" mat-raised-button class="btn me-3 btn_submit waves-effect waves-light"
                           color="primary" (click)="searchUserFedEx()">
                           Search
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="min-height: 500px;">

         <div class="col s12">
            <div class="container">
               <div id="sales-chart">
                  @if (showTableFedEx) {
                  <div class="row">
                     <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                        <div class="ml-2">
                           @if (showCount && tableCount > 1) {
                           <h6 class="breadcrumbs-title mt-0 mb-0" style="width: 100%;">
                              Total Records: <span>{{tableCount}}</span>
                           </h6>
                           }
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px;">
                           <a (click)="image_clickHandlerFedex()" class="interpo_atwoDownload">
                              Download all Records
                           </a>
                           <a (click)="image_clickHandlerFedex()" class="interpo_atwo">
                              <img src="assets/images/icons/pdf.png">
                           </a>
                        </div>
                     </div>

                     <div class="col s10 m10 l12 pt-2">
                        <div class="col s12 no-padding">
                           <div class="card animate fadeUp">
                              <div class="card-content">
                                 <div class="table-responsive trcknCls">
                                    <table class="table table-bordered table-striped">
                                       <thead>
                                          <tr>
                                             <th>Tracking Number</th>
                                             <th>Account Number</th>
                                             <th>Invoice Date</th>
                                             <th>Transaction Date</th>
                                             <th>Invoice Number</th>
                                             <th>Net Charge</th>
                                             <th>More Detail</th>
                                             <th>PDF</th>
                                             <th>EXCEL</th>

                                          </tr>
                                       </thead>
                                       <tbody>
                                          @for (fetchTrackNo of commoncollACFedExObjList; track $index) {
                                          <tr>
                                             <td>{{fetchTrackNo.trackingNumber}}</td>
                                             <td>{{fetchTrackNo.accountNumber}}</td>
                                             <td>{{fetchTrackNo.invoiceDate | date:'MM/dd/yyyy'}}</td>
                                             <td>{{fetchTrackNo.invoiceDueDate}}</td>
                                             <td>{{fetchTrackNo.invoiceNumber}}</td>
                                             <td>{{fetchTrackNo.total}}</td>

                                             <td><button class="btn btn-primary"
                                                   (click)="getFedExTrackingDetail(fetchTrackNo)">More Detail</button>
                                             </td>
                                             <td>
                                                <span><a
                                                      (click)="generatetrackingpdfFedex(fetchTrackNo.trackingNumber,fetchTrackNo.invoiceId)"><img
                                                         src="app-assets\images\icon\pdf.png"
                                                         style="height:26px"></a></span>
                                             </td>
                                             <td><span><a
                                                      (click)="generatetrackingexcelFedex(fetchTrackNo.trackingNumber)"><img
                                                         src="app-assets\images\icon\excel.png"
                                                         style="height:26px"></a></span></td>
                                          </tr>
                                          }
                                          @if(dataNoneTxtFedEx){
                                          <tr>
                                             <td colspan="11" style="text-align: center !important;">No Data</td>
                                          </tr>
                                          }
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--More detail modal -->

                  </div>
                  }
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- END: Page Main-->


   <div id="theme-cutomizer-out" class="theme-cutomizer sidenav row">
      <div class="col s12">
         <a class="sidenav-close" href="javascript:void(0);!"><i class="material-icons">close</i></a>
         <h5 class="theme-cutomizer-title">Theme Customizer</h5>
         <p class="medium-small">Customize & Preview in Real Time</p>
         <div class="menu-options">
            <h6 class="mt-6">Menu Options</h6>
            <hr class="customize-devider" />
            <div class="menu-options-form row">
               <div class="input-field col s12 menu-color mb-0">
                  <p class="mt-0">Menu Color</p>
                  <div class="gradient-color center-align">
                     <span class="menu-color-option gradient-45deg-indigo-blue"
                        data-color="gradient-45deg-indigo-blue"></span>
                     <span class="menu-color-option gradient-45deg-purple-deep-orange"
                        data-color="gradient-45deg-purple-deep-orange"></span>
                     <span class="menu-color-option gradient-45deg-light-blue-cyan"
                        data-color="gradient-45deg-light-blue-cyan"></span>
                     <span class="menu-color-option gradient-45deg-purple-amber"
                        data-color="gradient-45deg-purple-amber"></span>
                     <span class="menu-color-option gradient-45deg-purple-deep-purple"
                        data-color="gradient-45deg-purple-deep-purple"></span>
                     <span class="menu-color-option gradient-45deg-deep-orange-orange"
                        data-color="gradient-45deg-deep-orange-orange"></span>
                     <span class="menu-color-option gradient-45deg-green-teal"
                        data-color="gradient-45deg-green-teal"></span>
                     <span class="menu-color-option gradient-45deg-indigo-light-blue"
                        data-color="gradient-45deg-indigo-light-blue"></span>
                     <span class="menu-color-option gradient-45deg-red-pink"
                        data-color="gradient-45deg-red-pink"></span>
                  </div>
                  <div class="solid-color center-align">
                     <span class="menu-color-option red" data-color="red"></span>
                     <span class="menu-color-option purple" data-color="purple"></span>
                     <span class="menu-color-option pink" data-color="pink"></span>
                     <span class="menu-color-option deep-purple" data-color="deep-purple"></span>
                     <span class="menu-color-option cyan" data-color="cyan"></span>
                     <span class="menu-color-option teal" data-color="teal"></span>
                     <span class="menu-color-option light-blue" data-color="light-blue"></span>
                     <span class="menu-color-option amber darken-3" data-color="amber darken-3"></span>
                     <span class="menu-color-option brown darken-2" data-color="brown darken-2"></span>
                  </div>
               </div>
               <div class="input-field col s12 menu-bg-color mb-0">
                  <p class="mt-0">Menu Background Color</p>
                  <div class="gradient-color center-align">
                     <span class="menu-bg-color-option gradient-45deg-indigo-blue"
                        data-color="gradient-45deg-indigo-blue"></span>
                     <span class="menu-bg-color-option gradient-45deg-purple-deep-orange"
                        data-color="gradient-45deg-purple-deep-orange"></span>
                     <span class="menu-bg-color-option gradient-45deg-light-blue-cyan"
                        data-color="gradient-45deg-light-blue-cyan"></span>
                     <span class="menu-bg-color-option gradient-45deg-purple-amber"
                        data-color="gradient-45deg-purple-amber"></span>
                     <span class="menu-bg-color-option gradient-45deg-purple-deep-purple"
                        data-color="gradient-45deg-purple-deep-purple"></span>
                     <span class="menu-bg-color-option gradient-45deg-deep-orange-orange"
                        data-color="gradient-45deg-deep-orange-orange"></span>
                     <span class="menu-bg-color-option gradient-45deg-green-teal"
                        data-color="gradient-45deg-green-teal"></span>
                     <span class="menu-bg-color-option gradient-45deg-indigo-light-blue"
                        data-color="gradient-45deg-indigo-light-blue"></span>
                     <span class="menu-bg-color-option gradient-45deg-red-pink"
                        data-color="gradient-45deg-red-pink"></span>
                  </div>
                  <div class="solid-color center-align">
                     <span class="menu-bg-color-option red" data-color="red"></span>
                     <span class="menu-bg-color-option purple" data-color="purple"></span>
                     <span class="menu-bg-color-option pink" data-color="pink"></span>
                     <span class="menu-bg-color-option deep-purple" data-color="deep-purple"></span>
                     <span class="menu-bg-color-option cyan" data-color="cyan"></span>
                     <span class="menu-bg-color-option teal" data-color="teal"></span>
                     <span class="menu-bg-color-option light-blue" data-color="light-blue"></span>
                     <span class="menu-bg-color-option amber darken-3" data-color="amber darken-3"></span>
                     <span class="menu-bg-color-option brown darken-2" data-color="brown darken-2"></span>
                  </div>
               </div>
               <div class="input-field col s12">
                  <div class="switch">
                     Menu Dark
                     <label class="float-right"><input class="menu-dark-checkbox" type="checkbox" /> <span
                           class="lever ml-0"></span></label>
                  </div>
               </div>
               <div class="input-field col s12">
                  <div class="switch">
                     Menu Collapsed
                     <label class="float-right"><input class="menu-collapsed-checkbox" type="checkbox" /> <span
                           class="lever ml-0"></span></label>
                  </div>
               </div>
               <div class="input-field col s12">
                  <div class="switch">
                     <p class="mt-0">Menu Selection</p>
                     <label>
                        <input class="menu-selection-radio with-gap" value="sidenav-active-square" name="menu-selection"
                           type="radio" />
                        <span>Square</span>
                     </label>
                     <label>
                        <input class="menu-selection-radio with-gap" value="sidenav-active-rounded"
                           name="menu-selection" type="radio" />
                        <span>Rounded</span>
                     </label>
                     <label>
                        <input class="menu-selection-radio with-gap" value="" name="menu-selection" type="radio" />
                        <span>Normal</span>
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <h6 class="mt-6">Navbar Options</h6>
         <hr class="customize-devider" />
         <div class="navbar-options row">
            <div class="input-field col s12 navbar-color mb-0">
               <p class="mt-0">Navbar Color</p>
               <div class="gradient-color center-align">
                  <span class="navbar-color-option gradient-45deg-indigo-blue"
                     data-color="gradient-45deg-indigo-blue"></span>
                  <span class="navbar-color-option gradient-45deg-purple-deep-orange"
                     data-color="gradient-45deg-purple-deep-orange"></span>
                  <span class="navbar-color-option gradient-45deg-light-blue-cyan"
                     data-color="gradient-45deg-light-blue-cyan"></span>
                  <span class="navbar-color-option gradient-45deg-purple-amber"
                     data-color="gradient-45deg-purple-amber"></span>
                  <span class="navbar-color-option gradient-45deg-purple-deep-purple"
                     data-color="gradient-45deg-purple-deep-purple"></span>
                  <span class="navbar-color-option gradient-45deg-deep-orange-orange"
                     data-color="gradient-45deg-deep-orange-orange"></span>
                  <span class="navbar-color-option gradient-45deg-green-teal"
                     data-color="gradient-45deg-green-teal"></span>
                  <span class="navbar-color-option gradient-45deg-indigo-light-blue"
                     data-color="gradient-45deg-indigo-light-blue"></span>
                  <span class="navbar-color-option gradient-45deg-red-pink" data-color="gradient-45deg-red-pink"></span>
               </div>
               <div class="solid-color center-align">
                  <span class="navbar-color-option red" data-color="red"></span>
                  <span class="navbar-color-option purple" data-color="purple"></span>
                  <span class="navbar-color-option pink" data-color="pink"></span>
                  <span class="navbar-color-option deep-purple" data-color="deep-purple"></span>
                  <span class="navbar-color-option cyan" data-color="cyan"></span>
                  <span class="navbar-color-option teal" data-color="teal"></span>
                  <span class="navbar-color-option light-blue" data-color="light-blue"></span>
                  <span class="navbar-color-option amber darken-3" data-color="amber darken-3"></span>
                  <span class="navbar-color-option brown darken-2" data-color="brown darken-2"></span>
               </div>
            </div>
            <div class="input-field col s12">
               <div class="switch">
                  Navbar Dark
                  <label class="float-right"><input class="navbar-dark-checkbox" type="checkbox" /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
            <div class="input-field col s12">
               <div class="switch">
                  Navbar Fixed
                  <label class="float-right"><input class="navbar-fixed-checkbox" type="checkbox" checked /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
         </div>
         <h6 class="mt-6">Footer Options</h6>
         <hr class="customize-devider" />
         <div class="navbar-options row">
            <div class="input-field col s12">
               <div class="switch">
                  Footer Dark
                  <label class="float-right"><input class="footer-dark-checkbox" type="checkbox" /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
            <div class="input-field col s12">
               <div class="switch">
                  Footer Fixed
                  <label class="float-right"><input class="footer-fixed-checkbox" type="checkbox" /> <span
                        class="lever ml-0"></span></label>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
}
<!-- fedex code ends -->