<div id="main">
   <div class="row">
   
            <div class="col-12 mt-2 mb-2 text-end "><a class="close_btn close_btn_pop " (click)="closeDialog()"><span>CLICK HERE TO
               CLOSE SCREEN </span> <img src="assets/images/svg/close_1.svg">
            </a>
      </div>
      <div class="col-12 mt-2 mb-2 text-center">
         <h2 class="header popheader_text mt-1" style="font-size:25px;">Weight Distribution Lbs</h2>
      </div>

      <div class="col-sm-6  col-12">
         <div class="toggle-bar mb-2 mt-2">
            <span class="datadisplayedCls">DATA DISPLAYED FOR :</span>
            <div class="toggle-pill">
               <span [ngClass]="{'active': chargetypevalue()=='FRTWithAcc'}" (click)="linkshpChange('FRTWithAcc')">FRT
                  + ACC</span>
               <span [ngClass]="{'active': chargetypevalue()=='FRT'}" (click)="linkshpChange('FRT')">FRT</span>
            </div>
         </div>
      </div>
      <div class="col-sm-6 col-12">
               <p class="right no-margin grey-text lighten-3 mediam-small  pr-1 text-end">
            <a class="excelIcon excel_text" (click)="excel_clickHandler('Totalspend')">  <img src="assets/images/svg/excel_download_icon.svg"> Excel</a>
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
               <h4 class="card-title mb-0 text-uppercase flex-grow-1">Net Spend by Weight </h4>
            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">
                  <div id="netcharge_charts" style="width: 100%; height: 250px"></div>
               </div>
               <div class="w-100 mb-1 pe-3  text-end">
                  <p class="btm_para"> Data displays Dollar value for Weight Distribution</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
               <h4 class="card-title mb-0 flex-grow-1 text-uppercase">Average Cost By Pound Per Package</h4>
               <div class="flex-shrink-0 d-flex">
                  <div>
                     <button class="btn btn-soft-info btn-sm material-shadow-none blueBackground  bdrBtnMTB" (click)="resetBars()">
                        Reset</button>

                  </div>
               </div>
            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">
                  <div id="average_costCharts" style="width: 100%; height: 250px"></div>
               </div>
               <div class="w-100  mb-1 pe-3  text-end">
                  <p class="btm_para">Data displays Average cost by pound per package</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
               <h4 class="card-title mb-0 flex-grow-1 text-uppercase">Spend By Month </h4>
            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">
                  <div id="spendByMonth" style="width: 100%; height: 250px"></div>
               </div>
               <div class="w-100 mb-1 pe-3  text-end">
                  <p class="btm_para">Data displays spent value for each month</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
               <h4 class="card-title mb-0 flex-grow-1 text-uppercase">Volume By Weight</h4>

            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">
                  <div id="volume_weight" style="width: 100%; height: 250px"></div>
               </div>
               <div class="w-100  mb-1 pe-3  text-end">
                  <p class="btm_para">Data displays count of each weights specified</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
               <h4 class="card-title mb-0 flex-grow-1 text-uppercase">Spend By Account Number</h4>
            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">
                  <div id="acc_no" style="width: 100%; height: 250px"></div>
               </div>
               <div class="w-100  mb-1 pe-3 text-end">
                  <div class="col-12 d-flex justify-content-end gap-2" style="text-align: right;">
                     @if (first_id_visible === true) {
                     <button id="first_id" class="btn btn-soft-info btn-sm material-shadow-none blueBackground bdrBtnMTB"
                        (click)="first_id_clickHandler('event')">First</button>
                     }
                     @if (previous_id_visible === true) {
                     <button id="previous_id" class="btn btn-soft-info btn-sm material-shadow-none blueBackground bdrBtnMTB"
                        (click)="previous_id_clickHandler('event')">Previous</button>
                     } @if (next_id_visible === true) {
                     <button id="next_id" buttonMode="true" class="btn btn-soft-info btn-sm material-shadow-none blueBackground bdrBtnMTB"
                        (click)="next_id_clickHandler('event')">Next</button>
                     }
                  </div>
                  <p class="btm_para"> Data displays Net spend for each Account Numbers</p>
               </div>
            </div>
         </div>
      </div>




   </div>
   