<div class="customizer-setting d-none d-md-block" style="top: 99px;">
    <div class="btn-info shadow-lg btn btn-lg p-2 sideBarSearchBtn d-flex"
        data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas"
        aria-controls="theme-settings-offcanvas" (click)="openEnd(filtetcontent)">
        <i class="mdi mdi-filter-outline search-widget-icon fs-20 pe-2"></i>
        Filter
    </div>
</div>


<ng-template #filtetcontent let-offcanvas *ngIf="clientType()=='UPS'">
    <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
        <h5 class="m-0 me-2 text-white">Filter</h5>
        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" 
        aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>

    <div class="offcanvas-body p-0 right-sidebar">
        <form [formGroup]="avgDiscountUpsFormGroup">
            <ngx-simplebar class="h-100">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <label class="mt-3 mb-1">Client:</label>
                            <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                                <mat-select formControlName="clientName"
                                (selectionChange)="cmb_clientname_change($event.value)"
                                required >
                                    <mat-option *ngFor="let clientObj of clientList; let i = index"
                                        [value]="clientObj.clientName">
                                        {{ clientObj.clientName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12 col-12">
                            <label class="mt-3 mb-1">Year:</label>
                            <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                                <mat-select formControlName="year" (selectionChange)="cmb_year_change()"
                                required>
                                    <mat-option *ngFor="let yearItem of selectYear; let i = index"
                                        [value]="yearItem" >
                                        {{ yearItem }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12 col-12">
                            <label class="mt-3 mb-1">Service:</label>
                            <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                                <mat-select formControlName="chargeDescription" [disabled]="isServiceDisable"
                                (selectionChange)="cmb_service_change()" required>
                                     <mat-option value="Ground Commercial">Ground Commercial</mat-option>
                                    <mat-option value="Ground Residential">Ground Residential</mat-option>
                                    <mat-option value="2nd Day">2nd Day</mat-option>
                                    <mat-option value="Next Day Air">Next Day Air</mat-option>
                                    <mat-option value="Next Day Air Saver">Next Day Air Saver</mat-option>
                                    <mat-option value="3 Day Select">3 Day Select</mat-option>
                                    <mat-option value="UPS Ground Saver Greater than 1 lb">UPS Ground Saver Greater than 1 lb</mat-option>
                                    <mat-option value="UPS Ground Saver Less than 1 lb">UPS Ground Saver Less than 1 lb</mat-option>
                                    <mat-option value="Next Day Air AM">Next Day Air AM</mat-option>
                                    <mat-option value="2nd Day Air AM">2nd Day Air AM</mat-option>  
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-12 mt-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="date-text-popup">
                                    <label class="mb-0"> Data as of: <strong>{{ dataasof }}</strong> </label>
                                </div>

                                <button type="button" class="btn p-0 download_btn material-shadow-none"
                                aria-label="Download Excel file" (click)="ExportTOExcel()">
                                <img src="assets/images/excel.svg" alt="Excel icon" />
                                <span>Excel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
        </form>
    </div>
</ng-template>


<ng-template #filtetcontent let-offcanvas *ngIf="clientType()=='FedEx'">
    <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
        <h5 class="m-0 me-2 text-white">Filter</h5>
        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" 
        aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>

    <div class="offcanvas-body p-0 right-sidebar">
        <form [formGroup]="avgDiscountFedexFormGroup">
            <ngx-simplebar class="h-100">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <label class="mt-3 mb-1">Client:</label>
                            <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                                <mat-select formControlName="clientName"
                                (selectionChange)="cmb_clientname_changeFedex($event.value)"
                                required >
                                    <mat-option *ngFor="let clientObj of clientListFedex; let i = index"
                                        [value]="clientObj.clientName">
                                        {{ clientObj.clientName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12 col-12">
                            <label class="mt-3 mb-1">Year:</label>
                            <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                                <mat-select formControlName="avgYear" (selectionChange)="cmb_year_changeFedex()"
                                required>
                                    <mat-option *ngFor="let yearItem of selectYear; let i = index"
                                        [value]="yearItem" >
                                        {{ yearItem }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-12 col-12">
                            <label class="mt-3 mb-1">Service:</label>
                            <mat-form-field appearance="outline" class="w-100 compact-field input_change">
                                <mat-select formControlName="chargeDescription" [disabled]="isServiceDisable"
                                (selectionChange)="cmb_service_changeFedex()" required>
                                    <mat-option *ngFor="let serviceObj of serviceList; let i = index"
                                        [value]="serviceObj.chargeDescription" >
                                        {{ serviceObj.chargeDescription }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-12 mt-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="date-text-popup">
                                    <label class="mb-0"> Data as of: <strong>{{ dataasof }}</strong> </label>
                                </div>

                                <button type="button" class="btn p-0 download_btn material-shadow-none"
                                aria-label="Download Excel file" (click)="ExportTOExcel()">
                                <img src="assets/images/excel.svg" alt="Excel icon" />
                                <span>Excel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
        </form>
    </div>
</ng-template>