.bg-gradient{
    background: #2AAAE6 !important;
    background: linear-gradient(90deg, rgb(42, 170, 230) 0%, rgb(0, 39, 118) 100%) !important;
}
 .download_btn span{
    color: #23A566 ;
 }
 .card ,.card .card-header {
    background: var( --card-dashboard);
}