<!-- <div>
    accountnumber
  
</div> -->
<!-- <div>
    @if(clientType()=='UPS'){
    <app-ups-user-log-popup></app-ups-user-log-popup>
    }
</div> -->



<div class="px-0 pt-0 py-0">





  <!-- card -->
  <div class="card m-0 popup-design shadow-none card-height-100">
    <div class="card-header border-0 align-items-center d-flex">
      <h4 class="card-title mb-0 flex-grow-1 title-sty"></h4>
      <button matSuffix type="button" (click)="close()"
        class="bit_eye_icon btn btn-link p-0 text-decoration-none text-muted material-shadow-none">
        <img src="assets/images/close_icon.svg" class="close_icon" alt="close icon" />
      </button>
    </div><!-- end card header -->

    <!-- card body -->
    <div class="card-body pt-2 pb-3">

      <div class="popup-header text-center">
        <img src="assets/images/ljm-popouplogo.svg" alt="LJM Group Logo" class="logo" />

        <p class="subtitle">Want to see how LJM Group can save your company as much as 30% on your overall shipping
          costs?</p>

        <div class="button-container my-3">
          <button mat-raised-button color="primary" matTooltip="Click Here to View Savings" type="button"
            (click)="FreeAnalysisPopup_clickHandler()" class="savings-button">
            CLICK HERE FOR A FREE ANALYSIS
          </button>
        </div>

        <p class="footer-text">
          Risk Free & No Commitment Required
        </p>
      </div>
    </div>
    <!-- end card body -->
  </div>
  <!-- end card -->



  <!-- end card -->




</div>


<!-- end col -->

<!-- end row -->