<style>
   ::ng-deep .cdk-global-scrollblock {
      overflow-y: hidden !important;
   }

   ::ng-deep .mat-mdc-dialog-surface {
      background-color: var(--body-background);
   }

   .carrier-charges-popup {
      /* width: 100vw;
  height: 100vh; */
      display: flex;
      flex-direction: column;
   }

   .carrier-charges-header {
      display: flex;
      justify-content: flex-end;
      padding: 16px 5px 18px 5px;
   }

   .card,
   .card .card-header {
      background: var(--card-dashboard);
   }

   .popheader_text {
      color: var(--popup_title) !important;
   }
</style>

<div id="main" class="carrier-charges-popup">
   <div class="col-md-12 col-12 text-md-end text-end">
         <a class="close_btn close_btn_pop" (click)="closeDialog()">
            <span>CLICK HERE TO CLOSE SCREEN</span> <img src="assets/images/svg/close_1.svg" alt="Close"> </a>
      </div>
   <div class="carrier-charges-header">
      <div class="col-md-12 col-12 text-center">
         <h2 class="header popheader_text mb-0"> Shipment Detail Search </h2>
      </div>      
   </div>
   <div class="row">
      <div class="col-md-12 col-12">
         <div class="right no-margin grey-text lighten-3 mediam-small  pr-1 text-end pe-3">
         <div class="more_btn_drop">
            <button type="button" (click)="toggleColumnPicker()"
               class="btn btn-soft-info btn-sm material-shadow-none blueBackground1 ms-3 " >
               <i class="ri-more-line fs-18 align-middle"></i>
            </button>
            <div *ngIf="showColumnPicker"  class="view_more showColumnPicker" style="display: grid;">
               <button type="button" class="btn p-0 mb-2" (click)="generatetrackingexcel()"><img class="showColumnPickerImg"
                     src="assets/images/svg/excel_download_icon.svg"> <span>Export to PDF</span>
               </button>
               <button type="button" class="btn p-0" (click)="generatetrackingpdf()"><img class="showColumnPickerImg"
                     src="assets/images/svg/pdf_download.svg"> <span>Export to PDF</span>
               </button>
                        </div>
         </div>

         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-7  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex titleBg">
               <h4 class="card-title mb-0 flex-grow-1 text-uppercase ">Package Details </h4>
            </div>
            <div class="card-body p-0 ">
               <div class="w-100">
                  <table class="table  charge_thtr  mb-0 minheight">
                     <tbody>
                        <tr class="tabletotalRows">
                           <th>Tracking Number</th>
                           <td>{{tracking_id}}</td>
                           <th>Pieces</th>
                           <td>{{pa_pack_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Transaction Date</th>
                           <td>{{ad_tran_id}}</td>
                           <th>Invoice Date</th>
                           <td>{{bi_invoidat_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Account Number</th>
                           <td>{{account_id}}</td>
                           <th>Invoice Number</th>
                           <td>{{invoice_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Service</th>
                           <td>{{service_id}}</td>
                           <th>Product</th>
                           <td>{{product_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Billed Weight</th>
                           <td>{{pa_billedweight_id}}</td>
                           <th>Weight Unit</th>
                           <td>{{weightUnit_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Cust Scale Weight</th>
                           <td>{{pa_acutal_id}}</td>
                           <th>DHL Scale Weight</th>
                           <td>{{dhlScaleWeight_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Cust Vol Weight</th>
                           <td>{{custVolWeight_id}}</td>
                           <th>DHL Vol Weight</th>
                           <td>{{dhlVolWeight_id}}</td>
                        </tr>
                        <tr class="tabletotalRows">
                           <th>Weight Flag</th>
                           <td>{{weightFlag_id}}</td>
                           <th>Shipment Reference 1</th>
                           <td>{{ref1}}</td>
                        </tr>
                     </tbody>

                  </table>
               </div>

            </div>
         </div>
      </div>

      <div class="col-sm-5  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex titleBg">
               <h4 class="card-title mb-0 flex-grow-1 text-uppercase">Address Details</h4>
            </div>
            <div class="card-body p-0">
               <div class="w-100">
                  <table class="table  address charge_description charge_thtr  mb-0 minheight">
                     <tbody>
                        <tr class="">
                           <th class="pt-2 pb-2 titleAddress">Sender :</th>
                           <td class="pt-2">{{addressline_1}}</td>
                           <th class="pt-2 pb-2 titleAddress">Receiver :</th>
                           <td class="pt-2">{{receiveraddressline_1}}</td>
                        </tr>
                        <tr class="">
                           <th></th>
                           <td>{{addressline_2}}</td>
                           <th></th>
                           <td>{{receiveraddressline_2}}</td>
                        </tr>
                        <tr class="">
                           <th></th>
                           <td>{{addressline_3}}</td>
                           <th></th>
                           <td>{{receiveraddressline_3}}</td>
                        </tr>
                        <tr class="">
                           <th></th>
                           <td>{{addressline_4}}</td>
                           <th></th>
                           <td>{{receiveraddressline_4}}</td>
                        </tr>
                        <tr class="">
                           <th></th>
                           <td>{{addressline_5}}</td>
                           <th></th>
                           <td>{{receiveraddressline_5}}</td>
                        </tr>
                        <tr class="">
                           <th></th>
                           <td>{{addressline_6}}</td>
                           <th></th>
                           <td>{{receiveraddressline_6}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>

      <div class="col-sm-12  col-12">
         <h4 class="card-title mb-0 flex-grow-1 text-uppercase pt-3 pb-2">Total Charge Details</h4>
         <div class="card cardHide">
            <div class="card-body p-0 ">
               <div class="w-100">
                  <table class="table table-bordered charge_thtr metrics-table charge_description mb-0"
                     style="text-transform: none !important;">
                     <thead>
                        <tr>
                           <th>Charge Description</th>
                           <th>Published Rate</th>
                           <th>Incentives</th>
                           <th>Billed Charge</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let allChargeDescItem of accessorialsAC">
                           <th class="tdBGColor">{{allChargeDescItem.chargeDescription}}</th>
                           <td></td>
                           <td></td>
                           <td>{{allChargeDescItem.netAmount | currency:'USD':true:'1.2-2'}}</td>
                        </tr>
                        <tr style="font-weight: bold;">
                           <td class="totalColor">Grand Total</td>
                           <td class="totalColor">{{'0.00' | currency:'USD':true:'1.2-2'}}</td>
                           <td class="totalColor">{{'0.00' | currency:'USD':true:'1.2-2'}}</td>
                           <td class="totalColor">{{totalAccessorialsAmnt | currency:'USD':true:'1.2-2'}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>