.errorMsg {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0px;

}

.loginTitle {
    margin-top: 6em !important;
}

 .loginTitle h2 ,.loginTitle h4{
    font-size: 52px;
  }
  .loginTitle h4{ 
    font-weight: 100 !important;
  }
  .loginTitle h3{
    font-size: 42px;
  }