<style>
   ::ng-deep .mat-mdc-dialog-surface{
   background-color: var( --body-background);
}
.close_btn_pop span {
  color: var(--close-popup-txt) !important;
}
</style>
<div id="main">
   <div class="row">
     <div class="col-12 mt-2 mb-2 text-end "><a class="close_btn close_btn_pop " (click)="closeDialog()"><span>CLICK HERE TO
               CLOSE SCREEN </span> <img src="assets/images/svg/close_1.svg">
            </a>
      </div>
      <div class="col-12 mt-2 mb-2 text-center">
         <h2 class="header popheader_text mt-1" style="font-size:25px;">Services By Weight </h2>
      </div>

   </div>
   <div class="row">
      <div class="col-sm-12  col-12">
         <div class="card">
            <div class="card-header border-0 align-items-center d-flex">
               <h4 class="card-title mb-0 flex-grow-1">Spend by Weight </h4>
            </div>
            <div class="card-body p-0 pb-2">
               <div class="w-100">
                  <div id="service_weightZoomInPopup" style="width: 100%; height: 400px"></div>
               </div>
            </div>
         </div>
      </div>



   </div>
   

 