.table-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    background: var(--card-dashboard);
  }
  
  /* TOP SCROLLBAR */
  .top-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    height: 16px;
  }
  
  .scroll-content {
    height: 1px;
  }
  
  /* MAIN TABLE SCROLL */
  .table-scroll {
    max-height: 620px;
    overflow: auto;
  }
  
  /* TABLE STYLES */
  .metrics-table {
    border-collapse: collapse;
    // min-width: 1600px;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dcdcdc;
    padding: 8px 12px;
    font-size: 13px;
    white-space: nowrap;
  }
  
  /* HEADER */
  thead th {
    background:#2AAAE6;
    color: #fff;
    z-index: 3;
  }
  
  /* STICKY HEADER */
  .sticky-header {
    position: sticky;
    top: 0;
  }
  
  /* STICKY FIRST COLUMN */
  .sticky-col {
    position: sticky;
    left: 0;
    background: #f4f6f8;
    z-index: 2;
    font-weight: 600;
  }
  
  /* HEADER + FIRST COLUMN */
  .sticky-col.sticky-header {
    z-index: 4;
    background:#2AAAE6;
    color: #fff;
  }
  .table-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
       background: var(--card-dashboard);
  }
  
  /* TOP SCROLLBAR */
  .top-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    height: 16px;
  }
  
  .scroll-content {
    height: 1px;
  }
  
  /* MAIN TABLE SCROLL */
  .table-scroll {
    max-height: 620px;
    overflow: auto;
  }
  
  /* TABLE STYLES */
  .metrics-table {
    border-collapse: collapse;
    // min-width: 1600px;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dcdcdc;
    padding: 8px 12px;
    font-size: 13px;
    white-space: nowrap;
    font-family: "Host Grotesk", sans-serif;
  }
  
  /* HEADER */
  thead th {
    background: #2AAAE6;
    color: #fff;
    z-index: 3;
    text-transform: uppercase !important  ;
    font-weight:700;
  }
  
  /* STICKY HEADER */
  .sticky-header {
    position: sticky;
    left: 0;
    background: #f4f6f8;
    z-index: 2;
    font-weight: 600;
  }
  
  /* STICKY FIRST COLUMN */
  .sticky-col {
    position: sticky;
    left: 0;
    background: #f4f6f8;
    z-index: 2;
    font-weight: 600;
  }
  
  /* HEADER + FIRST COLUMN */
  .sticky-col.sticky-header {
    z-index: 4;
    background: #2AAAE6;
    color: #fff;
  }
  /* ODD / EVEN ROW COLORS */
  .odd-row td {
    background-color: #F4F4F4;
  }
  
  .even-row td {
    background-color: #ffffff;
  }
  
  /* KEEP STICKY COLUMN COLOR IN SYNC */
  .odd-row .sticky-col {
    background-color: #E5E7EB;
  }
  
  .even-row .sticky-col {
    background-color: #fff;
  }
  a{
    cursor: pointer;
  }
  .download-cell {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  td.status{
    color:#1DAA38 !important;
    font-weight: 600 !important;
  }
  .processing {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #f39c12;
  }
  
  .spin-icon {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .completed {
    color: green;
  }
  
  .failed {
    color: red;
  }

   .reportlog_pone{
    text-align: right;
    font-style: italic;
    margin: 0px;
}
.reportlog_ptwo{
    text-align: right;
    font-style: italic;
    color: red;
    font-weight: bold;
    margin: 0px;
}


.sticky-header_1{
  z-index: 9 !important;
}
// .metrics-table td:nth-child(2) {
//    position: sticky;
//         left: 315px !important;  
//           z-index: 9 !important;
// }
// th.sticky-col.sticky-header:nth-child(2) {
//      left: 315px !important;  
//     z-index: 91 !important;
// }
.metrics-table th , .metrics-table td{
  width: 140px ;

}

.metrics-table th:nth-child(1)  {
     width: 420px;
    min-width: 420px;
    max-width: 420px;
    word-break: break-all;
      z-index: 101 !important;
        text-transform: uppercase;
}

td.sticky-col.group-title {
     width: 420px;
    min-width: 420px;
    max-width: 420px;
    word-break: break-all;
     z-index: 9 !important;
        text-transform: uppercase;
}
.metrics-table td:nth-child(1) {
    width: 420px;
    min-width: 420px;
    max-width: 420px;
    word-break: break-all;
     z-index: 99 !important;
}