<!-- <div>
    accountnumber
  
</div> -->
<!-- <div>
    @if(clientType()=='UPS'){
    <app-ups-user-log-popup></app-ups-user-log-popup>
    }
</div> -->



<div class="px-0 pt-0 py-0">





    <!-- card -->
    <div class="card m-0 popup-design shadow-none card-height-100">
        <div class="card-header border-0 justify-content-end align-items-center d-flex px-2">
          
            <button matSuffix type="button" (click)="close()"
                class="bit_eye_icon btn btn-link p-0 text-decoration-none text-muted material-shadow-none">
                <!-- <img src="assets/images/close_icon.svg" class="close_icon" alt="close icon" /> -->
                       <div class="close_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.301791 1.75541C-0.0997985 1.35375 -0.0997366 0.702715 0.301914 0.301155C0.703565 -0.100404 1.3547 -0.100403 1.75628 0.301259L7.50013 6.04566L13.2444 0.301774C13.646 -0.0997858 14.2972 -0.0997858 14.6988 0.301774C15.1004 0.703333 15.1004 1.35447 14.6988 1.75602L8.95439 7.50002L14.6984 13.2446C15.0999 13.6462 15.0999 14.2973 14.6982 14.6989C14.2966 15.1004 13.6454 15.1004 13.2438 14.6987L7.49992 8.95427L1.75558 14.6983C1.35397 15.0998 0.702825 15.0998 0.301215 14.6983C-0.100405 14.2967 -0.100405 13.6456 0.301215 13.244L6.04577 7.49992L0.301791 1.75541Z" fill="black"/>
</svg>
        </div>
            </button>
        </div><!-- end card header -->

        <!-- card body -->
        <div class="card-body pt-2 pb-3">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row px-4 mx-2">
                    <div class="col-12" >
                    <h2 class="card-title mb-0 flex-grow-1 title-sty text-center"> {{ clientName }}</h2>
                    </div>
                    <div class="col-md-12 col-12">
                        <label class="mt-3 mb-1"> Full Name <span class="text-danger">*</span> </label>
                        <mat-form-field appearance="outline" class="w-100 compact-field  input_change">
                            <input matInput formControlName="fullname" >
                        </mat-form-field>
                          @if(submitted && f['fullname'].errors?.['required']){
                        <div class="invalid-feedback d-block">
                            <div>
                                <span>Full Name is required</span>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="mt-3 mb-1">Email <span class="text-danger">*</span></label>
                        <mat-form-field appearance="outline" class="w-100 compact-field  input_change">
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                          @if(submitted && f['email'].errors){
                        <div class="invalid-feedback d-block">
                            <div>
                                <span *ngIf="f['email'].errors['required']">Email is required</span>
                                <span *ngIf="f['email'].errors['email']">Invalid email</span>
                            </div>
                        </div>
                        }
                    </div>

                    <div class="col-md-6 col-12">
                        <label class="mt-3 mb-1">Phone Number <span class="text-danger">*</span></label>
                        <mat-form-field appearance="outline" class="w-100 compact-field  input_change">
                            <input matInput formControlName="phone" phoneMask (input)="numbersOnlyValidator($event)">
                        </mat-form-field>
                            @if(submitted && f['phone'].errors){
                        <div class="invalid-feedback d-block">
                            <div>
                                <span *ngIf="f['phone'].errors['required']">Phone is required</span>
                                <span *ngIf="f['phone'].errors['minlength'] || f['phone'].errors['maxlength']">
                                    Enter 10 digit number
                                </span>
                            </div>
                        </div>
                        }
                    </div>

                    <div class="col-12 mt-4 text-center pb-1">
                        <button mat-raised-button color="primary" type="submit" [disabled]="click" class="btn me-3btn btn_submit btn-info waves-light orange "
                            type="submit">
                            SUMBIT
                        </button>

                    </div>
                    <div class="col-12 text-center pb-2">
                        <p class="para1"> We Guarantee 100% Privacy. Your Information Will Not Be Shared.</p>
                    </div>
                    


                </div>
            </form>
        </div>
        <!-- end card body -->
    </div>
    <!-- end card -->



    <!-- end card -->




</div>


<!-- end col -->

<!-- end row -->