<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
               Ver: 2.7.7
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                   <span class="right hide-on-small-only">Design and Developed by <a href="https://esales.in/" target="_blank">eSales Software Solution</a> </span>
                </div>
            </div>
        </div>
    </div>
</footer>