@if(isLoading()){
<div class="loader-overlay">
    <div class="loader-content">
        <img src="../../../../../../assets/images/loader.gif" alt="Loading">
    </div>
</div>}
<div class="px-2  py-2">
    <div class="bg-pop-title">
        <div class="row">
            <div class="col-10">
                <h2 class="mat-dialog-title mt-2">{{serviceName}}</h2>
            </div>
            <div class="col-2">
                <div mat-dialog-actions align="end" class="close-btn">
                    <button mat-button (click)="close()"><img class="closeBtn"
                            src="../../../../../assets/images/svg/close.svg"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="tab_sty px-2 py-2 mt-2">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body pt-0 px-0">
                        <div class="table-scroll   create-tab tableWrap">
                            <table mat-table *ngIf="currentMin.length > 0" [dataSource]="currentMin"
                                class="mat-elevation-z1 w-full mt-0 border_table cont-sum-tab">
                                <ng-container *ngFor="let column of columnsMinSignal(); let i = index"
                                    [matColumnDef]="column.fieldVal">
                                    <th mat-header-cell *matHeaderCellDef class="heading_main"
                                        style="padding: 0 20px;text-align: center; font-weight: bold; width:0px;">{{
                                        column.field }}</th>
                                    <td [ngStyle]="{'padding':(column.fieldVal == 'netSpend')?'0':''}" mat-cell
                                        *matCellDef="let row; let rowIndex = index"  class="create-proposal-table"
                                        matTooltip="{{row[column.fieldVal]}}" [matTooltipPosition]="'after'"
                                        [matTooltipDisabled]="column.field=='Service'?false:true">
                                        <input
                                            [ngClass]="{'netSpend':column.fieldVal == 'netSpend','containerType':column.fieldVal == 'containerType'}"
                                            matInput type="text"  class="weightText weightRange"
                                            value="{{column.fieldVal=='netSpend'?(row[column.fieldVal] | currency:'USD':'symbol':'1.2-2'):(column.fieldVal != 'containerType' && column.fieldVal != 'weightFrom' && column.fieldVal != 'weightTo' && column.fieldVal !='minType')?((row['minType'] == '$')?((row[column.fieldVal]==null)?('$0.00'):row[column.fieldVal] | currency:'USD':'symbol':'1.2-2'):((row[column.fieldVal]==null)?('0.00%'):row[column.fieldVal] | number:'1.2-2')+'%'):row[column.fieldVal]}}"
                                            [readonly]="true">
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsMin;"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsMin;"></tr>

                            </table>
                        </div>
                        <p *ngIf="currentMin.length == 0" class="noData">Data Not Available.</p>
                    </div>
                </div>
                <h5 class="mb-3 fs-22 fw-semibold text-titles mt-3 text-center">Net Minimum ({{year}}) :</h5>
                <div class="card">
                    <div class="card-body pt-0 px-0">
                        <div class="table-scroll   create-tab tableWrap">
                            <table *ngIf="currentMin.length > 0" mat-table [dataSource]="currentMin"
                                class="mat-elevation-z1 w-full mt-0 border_table cont-sum-tab">
                                <ng-container *ngFor="let column of columnsMinSignal(); let i = index"
                                    [matColumnDef]="column.fieldVal">
                                    <th mat-header-cell *matHeaderCellDef class="heading_main" >{{
                                        column.field }}</th>
                                    <td [ngStyle]="{'padding':(column.fieldVal == 'netSpend')?'0':''}" mat-cell
                                        *matCellDef="let row; let rowIndex = index"  class="create-proposal-table"
                                        matTooltip="{{row[column.fieldVal]}}" [matTooltipPosition]="'after'"
                                        [matTooltipDisabled]="column.field=='Service'?false:true">
                                        <input
                                            [ngClass]="{'netSpend':column.fieldVal == 'netSpend','containerType':column.fieldVal == 'containerType'}"
                                            matInput type="text"    class="weightText weightRange"
                                            value="{{column.fieldVal=='netSpend'?(row[column.fieldVal] | currency:'USD' :'symbol' :'1.2-2'):(column.fieldVal != 'containerType' && column.fieldVal != 'weightFrom' && column.fieldVal != 'weightTo' && column.fieldVal !='minType')?(((row[column.fieldVal]==null)?('$0.00'):row[column.fieldVal] | currency:'USD':'symbol':'1.2-2')):row[column.fieldVal]}}"
                                            [readonly]="true">
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsMin;"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsMin;"></tr>

                            </table>
                        </div>
                        <p *ngIf="currentNetMin.length == 0" class="noData">Data Not Available.</p>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <button mat-button class="btn-cancel" (click)="close()">Close</button>
                </div>
            </div>
        </div>




    </div>