h2.mat-dialog-title {
    color: #ffffff !important;
    padding-left: 0px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 21px;
    font-family: "Host Grotesk";
    margin-bottom: 0px;
}

.bg-pop-title {
    background: var(--title-background-bg);
    background-position: center right;
    background-repeat: no-repeat;
    padding: 5px 15px;
    border-radius: 2px;
}

.close-btn {
    padding-right: 0px !important;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-right: -10px;
}

h6.sub-title-txt {
    color: #CDEFFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.input_sty mat-form-field .mat-mdc-text-field-wrapper {
    height: 5vh;
    border: 1px solid #D5DAE7;
    margin-top: 5px;
    border-radius: 5px;
}

.w-full {
    width: 100%;
}

.service-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-small {
    width: 220px;
}

.weight-range {
    display: flex;
    align-items: center;
    gap: 8px;
}

.weight-box {
    width: 90px;
}

.range-text {
    white-space: nowrap;
}

.netspend-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    min-width: 180px;
}

.netspend-text {
    white-space: nowrap;
}

.w-120 {
    width: 120px;
}

.w-140 {
    width: 140px;
}

/* MAIN TABLE SCROLL */
.table-scroll {
    max-height: 750px !important;
    overflow: auto;
}

/* Even rows */
::ng-deep .cont-sum-tab .mat-mdc-row:nth-child(even) {
    background-color: #ffffff;
}

/* Odd rows */
::ng-deep .cont-sum-tab .mat-mdc-row:nth-child(odd) {
    background-color: #F4F4F4;
}

/* TABLE STYLES */
.metrics-table {
    border-collapse: collapse;
    width: 100%;
}

.tab_sty mat-tab-group {
    gap: 15px;
}

.table-scroll {
    
    overflow-y: auto;
    width: 100%;
}

th,
td {
    padding: 9px;
    font-size: 13px;
    white-space: nowrap;
    text-align: center;
}

/* HEADER */
thead th {
    background: #1957A0;
    color: #fff;
    z-index: 3;
}

.metrics-table thead tr {
    background: #1957A0;
}

.action-cell {
    text-align: center;
    width: 70px;
}

.delete-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.gridIcon {
    width: 18px;
    height: 18px;
}

.scenario-content {
    background-color: #1957A0 !important;
    padding: 4px !important;
    color: #fff !important;
    margin-left: -10px;
    font-size: 13px !important;
    justify-content: space-between;
}

.scenario-content1 {
    justify-content: space-between;
    line-height: 35px;
}

.filterDisplayed {
    padding-left: 10px;
    height: 180px;
    overflow-y: auto;
    border: 1px solid #D5DAE7;
    border-radius: 4px;
    overflow-x: hidden;
background: white;
}
.filter-dropdown .mat-mdc-text-field-wrapper {
    background: white;
}
.filter-dropdown .mat-mdc-text-field-wrapper {
    background: white;
}
.netspend-text {
    white-space: nowrap;
}

table.cont-sum-tab tbody tr td .mat-mdc-form-field-flex input {
    text-align: center !important;
}

table.cont-sum-tab tbody tr td:first-child .mat-mdc-form-field-flex input {
    text-align: left !important;
}

.btn_transform {
    text-transform: uppercase;
}

.btn_save_apply {
    background-color: #2aaae6 !important;
    color: white !important;
    border-radius: 4px;
}

.closeBtn {
    height: 20px;
}

.selectCls {
    line-height: 35px;
}
.popup-design{
background-image: url("/assets/images/popup_design.png");
    background-repeat: no-repeat;
       background-size: 100% auto;
    background-position: top center;
}


.input_sty mat-label {
    color: var(--create-agreemenr-lable-txt);
    font-family: "Host Grotesk";
    font-size: 14px;
}

    .filter-dropdown .mat-mdc-text-field-wrapper{
        background: white;
    }

    .scenario-content-stackey{
        position: sticky;
    top: 0;
    z-index: 9;
    padding: 5px 7px !important;
    }
    .search_input .mat-mdc-input-element::placeholder{
    color: white !important;
        z-index: 1;
    position: relative;
} 
.search_input .mat-mdc-input-element{
    color:white !important;
        z-index: 1;
    position: relative;
}

 .search_input .search_icon{
    padding: 10px 8px;
    color: white;
 }